In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# to show the whole output result
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# load data
data = pd.read_csv('../dataset/Bondora_raw.csv', low_memory=False)

In [4]:
# sort data features/columns alphabitcally
data = data.sort_index(axis=1)

In [ ]:
# show data dimensions
print(data.shape)

In [ ]:
# show data info (columns' names, data types,...)
print(data.info(verbose=True))

In [ ]:
# show first 5 rows of data
print(data.head())

In [ ]:
# show data description (count, mean, std, min, max,...) for numerical features
print(data.describe())

In [ ]:
# show data unique values counts
print(data.nunique())

In [11]:
# show data unique values if they are less than 40 values
for column in data:
    unique_count = data[column].nunique()
    if(unique_count <= 40):
        print(unique_count, ' ', column)
        print(data[column].unique())

9   ActiveLateCategory
[nan '180+' '16-30' '1-7' '31-60' '8-15' '121-150' '91-120' '151-180'
 '61-90']
9   ActiveLateLastPaymentCategory
[nan '180+' '151-180' '31-60' '8-15' '1-7' '91-120' '16-30' '121-150'
 '61-90']
2   ActiveScheduleFirstPaymentReached
[ True False]
24   ApplicationSignedHour
[17 20 12 10 16  9 18 22 11 15  0 13 23 19 14  8 21  7  1  2  6  3  5  4]
7   ApplicationSignedWeekday
[5 4 6 7 1 3 2]
4   Country
['EE' 'FI' 'ES' 'SK']
7   CreditScoreEeMini
[  nan 1000.  700.  800.  600.  900.  500.    0.]
6   CreditScoreEsEquifaxRisk
[nan 'A' 'AA' 'B' 'C' 'AAA' 'D']
11   CreditScoreEsMicroL
[nan 'M3' 'M5' 'M1' 'M9' 'M2' 'M6' 'M4' 'M8' 'M7' 'M10' 'M']
14   CreditScoreFiAsiakasTietoRiskGrade
[nan 'RL2' 'RL1' 'RL4' 'RL3' 'RL0' 'RL5' '2' '1' '3' '4' '5' '6' '7' '8']
7   Education
[ 3.  5.  4.  2.  1.  0. nan -1.]
9   EmploymentDurationCurrentEmployer
['UpTo3Years' 'MoreThan5Years' 'UpTo4Years' 'UpTo2Years' 'UpTo1Year' nan
 'UpTo5Years' 'TrialPeriod' 'Other' 'Retiree']
7   EmploymentStatus
[ 3. nan  2.  4.  5.  6.  0. -1.]
39   ExistingLiabilities
[ 0  6  4  1  8  3  2  5  7  9 10 12 11 15 14 17 13 16 18 24 19 26 23 20
 21 22 25 27 36 30 28 35 29 31 32 33 34 39 40]
3   Gender
[ 1.  0.  2. nan]
12   HomeOwnershipType
[nan  0.  4.  2.  1.  3.  5.  8.  6.  7.  9. 10. -1.]
13   LanguageCode
[ 1  3  2  4  6 22 15  9  5 10 13  7 21]
31   LoanDuration
[12  1 20 15 24  6  2  5  3 10 18  4 17  9 13  7 14  8 22 16 11 19 60 21
 36 48 30 42 27 52 38]
7   MaritalStatus
[ 1.  4.  3.  2.  5.  0. nan -1.]
7   ModelVersion
[nan  0.  1.  2.  3.  4.  5.  6.]
29   MonthlyPaymentDay
[25 15  9  3  1 10 28 24 20 23 11 18 12  5 26 22 16  2  7 13  6 21 14 19
  8 27 17  4  0]
2   NewCreditCustomer
[ True False]
26   NextPaymentDate
[nan '2020-02-17' '2020-02-10' '2020-02-25' '2020-02-03' '2020-02-11'
 '2020-01-28' '2020-02-05' '2020-02-27' '2020-02-21' '2020-02-20'
 '2020-02-07' '2020-02-12' '2020-03-02' '2020-02-14' '2020-02-19'
 '2020-02-13' '2020-02-04' '2020-02-26' '2020-02-18' '2020-02-06'
 '2020-02-24' '2020-03-09' '2020-03-11' '2020-03-06' '2020-03-10'
 '2020-03-05']
26   NoOfPreviousLoansBeforeLoan
[ 1  2  0  3  4  5  9  8  7  6 11 10 13 20 12 14 15 16 17 18 19 21 22 23
 24 25]
11   NrOfDependants
['0' '1' '3' '2' '5' '4' nan '6' '10Plus' '7' '10' '8']
21   OccupationArea
[ 7. 16.  9.  1. 10. 12.  8.  6. 11. 17.  5.  4.  3. 19. nan  0. 18. 15.
 13. 14.  2. -1.]
11   PreviousEarlyRepaymentsCountBeforeLoan
[ 0  1  2  3  7  4  5  6  8  9 11]
8   Rating
[nan 'F' 'C' 'HR' 'D' 'E' 'B' 'A' 'AA']
8   Rating_V0
[nan 'HR' 'A' 'F' 'C' 'D' 'B' 'AA' 'E']
8   Rating_V1
[nan 'F' 'C' 'HR' 'D' 'E' 'B' 'A' 'AA']
8   Rating_V2
[nan 'D' 'B' 'HR' 'F' 'C' 'E' 'A' 'AA']
2   RecoveryStage
[nan  2.  1.]
21   RefinanceLiabilities
[ 0  2  1  3  5  4  6  7  8  9 10 11 12 13 14 17 19 16 15 18 23]
1   ReportAsOfEOD
['2020-01-27']
2   Restructured
[False  True]
3   Status
['Repaid' 'Late' 'Current']
17   UseOfLoan
[  7   2   0   6   8   3   5   4   1 110 101 102 104 108 106 107  -1]
5   VerificationType
[ 2.  4.  1.  3.  0. nan]
6   WorkExperience
['MoreThan25Years' '2To5Years' '5To10Years' '15To25Years' '10To15Years'
 'LessThan2Years' nan]
9   WorseLateCategory
['91-120' nan '180+' '31-60' '151-180' '61-90' '1-7' '121-150' '16-30'
 '8-15']

In [ ]:
# show data null counts
print(data.isnull().sum())

In [14]:
# show data null counts with percentage more than 70%
count=0 
for column in data:
    nulls_percentage = (data[column].isnull().sum()/data.shape[0])*100
    if(nulls_percentage > 75 ):
        print(data[column].dtype,' ', nulls_percentage,'%',' ' ,column)
        count=count +1
print(count)

object   90.91720000892 %   CreditScoreEsEquifaxRisk
object   75.82826007775274 %   CreditScoreFiAsiakasTietoRiskGrade
float64   96.60370626407689 %   EL_V0
float64   90.39463610076638 %   EL_V1
object   86.0342379709951 %   GracePeriodEnd
object   86.0342379709951 %   GracePeriodStart
object   96.60370626407689 %   Rating_V0
object   90.39463610076638 %   Rating_V1
object   81.31034944138439 %   Rating_V2
9

In [13]:
# drop feature column which has null counts with percentage more than 70%
dropped_nulls_features=[]
for column in data:
    nulls_percentage = (data[column].isnull().sum()/data.shape[0])*100
    if(nulls_percentage > 75):
        dropped_nulls_features.append(column) 
        
new_data = data.drop(dropped_nulls_features, axis=1)

In [6]:
# drop feature that are unique foe each row 
dropped_unique_features=['LoanId','LoanNumber']
new_data = new_data.drop(dropped_unique_features, axis=1)

In [7]:
# drop feature that has only one value 
new_data = new_data.drop('ReportAsOfEOD', axis=1)

In [8]:
# get numerical features
numerical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'float64' or new_data[column].dtype == 'int64'):
        numerical_columns.append(column)

# get categorical features
categorical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'object'):
        categorical_columns.append(column)  
        
# get boolean features
boolean_columns = []
for column in new_data:
    if(new_data[column].dtype == 'bool'):
        boolean_columns.append(column)

In [ ]:
# replace -1 with null to be handled as missing value
for num_column in numerical_columns:
    new_data[num_column] = new_data[num_column].replace(-1., np.nan)

In [12]:
# handle missing values for numerical features
for num_column in numerical_columns:
    mean_value = new_data[num_column].mean()
    new_data[num_column].fillna(mean_value,inplace=True)
#     print(num_column,' ' , new_data[num_column].isnull().sum())

# bool
for bool_column in categorical_columns:
    mode_value = new_data[bool_column].mode().values[0]
    new_data[bool_column].fillna(mode_value,inplace=True)
    
# cat
for cat_column in boolean_columns:
    mode_value = new_data[cat_column].mode().values[0]
    new_data[cat_column].fillna(mode_value,inplace=True)
#     print(cat_column,' ' , new_data[cat_column].isnull().sum())

In [ ]:
# boolean to int
for bool_column in boolean_columns:
    new_data[bool_column] = new_data[bool_column].astype(int)

In [ ]:
# convert features with values that contain date + time to contain only date
date_time_features = ['BiddingStartedOn','LoanApplicationStartedDate','ListedOnUTC','StageActiveSince']
for col in date_time_features:
    new_data[col] = new_data[col].str.split().str[0]
    
print(new_data[date_time_features].nunique())

In [ ]:
mapping = {'1-7': 1, '8-15': 2, '16-30': 3, '31-60': 4, '61-90': 5, '91-120': 6, '121-150': 7, '151-180': 8, '180+': 9}

features = ['ActiveLateCategory','ActiveLateLastPaymentCategory','WorseLateCategory']
new_data[features] = new_data[features].replace(mapping)

for col in features:
    print(new_data[col].unique())

In [ ]:
mapping = { 'LessThan2Years':1,'2To5Years':2,'5To10Years':3,'10To15Years':4,'15To25Years':5,'MoreThan25Years':6}

new_data['WorkExperience'] = new_data['WorkExperience'].replace(mapping)

print(new_data['WorkExperience'].unique())

In [ ]:
# get numerical features
numerical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'float64' or new_data[column].dtype == 'int64'):
        numerical_columns.append(column)

# get categorical features
categorical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'object'):
        categorical_columns.append(column)

In [ ]:
def outliers_handling(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    lower_range = Q1 - 1.5 * (Q3 - Q1)
    upper_range = Q3 + 1.5 * (Q3 - Q1)
    column = np.where(column > upper_range, upper_range, column)
    column = np.where(column < lower_range, lower_range, column)
    return column

for num_column in numerical_columns:
    new_data[num_column] = outliers_handling(new_data[num_column])

In [ ]:
for num_column in numerical_columns:
    new_data[num_column].fillna(new_data[num_column].mean(),inplace=True)
    print(num_column,' ' , new_data[num_column].isnull().sum())
    
for cat_column in categorical_columns:
#     print(cat_column,' ' , new_data[cat_column].isnull().sum())
    new_data[cat_column].fillna(new_data[cat_column].mode().values[0],inplace=True)
    print(cat_column,' ' , new_data[cat_column].isnull().sum())

In [ ]:
for column in new_data:
    unique_count = new_data[column].nunique()
    if(unique_count <= 40):
        print(unique_count, ' ', column)
        print(new_data[column].unique())