# Loading Packages and Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# to show the whole output results
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# load data
data = pd.read_csv('../dataset/Bondora_raw.csv', low_memory=False)

In [4]:
# sort data features/columns alphabitcally (just to ease exploration)
data = data.sort_index(axis=1)

# Data Exploration

In [5]:
# show data dimensions
print(data.shape)

(134529, 112)

In [ ]:
# show data info (columns' names, data types,...)
print(data.info(verbose=True))

In [ ]:
# show first 5 rows of data
print(data.head())

In [ ]:
# show data description (count, mean, std, min, max,...) for numerical features
print(data.describe())

In [ ]:
# show data unique values counts
print(data.nunique())

In [16]:
# show data unique values if they are less than 50 values
for column in data:
    unique_count = data[column].nunique()
    if(unique_count <= 50):
        print(unique_count, ' ', column)
        print(data[column].unique())

9   ActiveLateCategory
[nan '180+' '16-30' '1-7' '31-60' '8-15' '121-150' '91-120' '151-180'
 '61-90']
9   ActiveLateLastPaymentCategory
[nan '180+' '151-180' '31-60' '8-15' '1-7' '91-120' '16-30' '121-150'
 '61-90']
2   ActiveScheduleFirstPaymentReached
[ True False]
24   ApplicationSignedHour
[17 20 12 10 16  9 18 22 11 15  0 13 23 19 14  8 21  7  1  2  6  3  5  4]
7   ApplicationSignedWeekday
[5 4 6 7 1 3 2]
4   Country
['EE' 'FI' 'ES' 'SK']
7   CreditScoreEeMini
[  nan 1000.  700.  800.  600.  900.  500.    0.]
6   CreditScoreEsEquifaxRisk
[nan 'A' 'AA' 'B' 'C' 'AAA' 'D']
11   CreditScoreEsMicroL
[nan 'M3' 'M5' 'M1' 'M9' 'M2' 'M6' 'M4' 'M8' 'M7' 'M10' 'M']
14   CreditScoreFiAsiakasTietoRiskGrade
[nan 'RL2' 'RL1' 'RL4' 'RL3' 'RL0' 'RL5' '2' '1' '3' '4' '5' '6' '7' '8']
7   Education
[ 3.  5.  4.  2.  1.  0. nan -1.]
9   EmploymentDurationCurrentEmployer
['UpTo3Years' 'MoreThan5Years' 'UpTo4Years' 'UpTo2Years' 'UpTo1Year' nan
 'UpTo5Years' 'TrialPeriod' 'Other' 'Retiree']
7   EmploymentStatus
[ 3. nan  2.  4.  5.  6.  0. -1.]
39   ExistingLiabilities
[ 0  6  4  1  8  3  2  5  7  9 10 12 11 15 14 17 13 16 18 24 19 26 23 20
 21 22 25 27 36 30 28 35 29 31 32 33 34 39 40]
3   Gender
[ 1.  0.  2. nan]
12   HomeOwnershipType
[nan  0.  4.  2.  1.  3.  5.  8.  6.  7.  9. 10. -1.]
13   LanguageCode
[ 1  3  2  4  6 22 15  9  5 10 13  7 21]
31   LoanDuration
[12  1 20 15 24  6  2  5  3 10 18  4 17  9 13  7 14  8 22 16 11 19 60 21
 36 48 30 42 27 52 38]
7   MaritalStatus
[ 1.  4.  3.  2.  5.  0. nan -1.]
7   ModelVersion
[nan  0.  1.  2.  3.  4.  5.  6.]
29   MonthlyPaymentDay
[25 15  9  3  1 10 28 24 20 23 11 18 12  5 26 22 16  2  7 13  6 21 14 19
  8 27 17  4  0]
2   NewCreditCustomer
[ True False]
26   NextPaymentDate
[nan '2020-02-17' '2020-02-10' '2020-02-25' '2020-02-03' '2020-02-11'
 '2020-01-28' '2020-02-05' '2020-02-27' '2020-02-21' '2020-02-20'
 '2020-02-07' '2020-02-12' '2020-03-02' '2020-02-14' '2020-02-19'
 '2020-02-13' '2020-02-04' '2020-02-26' '2020-02-18' '2020-02-06'
 '2020-02-24' '2020-03-09' '2020-03-11' '2020-03-06' '2020-03-10'
 '2020-03-05']
26   NoOfPreviousLoansBeforeLoan
[ 1  2  0  3  4  5  9  8  7  6 11 10 13 20 12 14 15 16 17 18 19 21 22 23
 24 25]
11   NrOfDependants
['0' '1' '3' '2' '5' '4' nan '6' '10Plus' '7' '10' '8']
21   OccupationArea
[ 7. 16.  9.  1. 10. 12.  8.  6. 11. 17.  5.  4.  3. 19. nan  0. 18. 15.
 13. 14.  2. -1.]
11   PreviousEarlyRepaymentsCountBeforeLoan
[ 0  1  2  3  7  4  5  6  8  9 11]
8   Rating
[nan 'F' 'C' 'HR' 'D' 'E' 'B' 'A' 'AA']
8   Rating_V0
[nan 'HR' 'A' 'F' 'C' 'D' 'B' 'AA' 'E']
8   Rating_V1
[nan 'F' 'C' 'HR' 'D' 'E' 'B' 'A' 'AA']
8   Rating_V2
[nan 'D' 'B' 'HR' 'F' 'C' 'E' 'A' 'AA']
2   RecoveryStage
[nan  2.  1.]
21   RefinanceLiabilities
[ 0  2  1  3  5  4  6  7  8  9 10 11 12 13 14 17 19 16 15 18 23]
1   ReportAsOfEOD
['2020-01-27']
2   Restructured
[False  True]
3   Status
['Repaid' 'Late' 'Current']
17   UseOfLoan
[  7   2   0   6   8   3   5   4   1 110 101 102 104 108 106 107  -1]
5   VerificationType
[ 2.  4.  1.  3.  0. nan]
6   WorkExperience
['MoreThan25Years' '2To5Years' '5To10Years' '15To25Years' '10To15Years'
 'LessThan2Years' nan]
9   WorseLateCategory
['91-120' nan '180+' '31-60' '151-180' '61-90' '1-7' '121-150' '16-30'
 '8-15']

In [42]:
# show data null counts
print(data.isnull().sum())

ActiveLateCategory                         86011
ActiveLateLastPaymentCategory              82279
ActiveScheduleFirstPaymentReached              0
Age                                            0
Amount                                         0
AmountOfPreviousLoansBeforeLoan                0
ApplicationSignedHour                          0
ApplicationSignedWeekday                       0
AppliedAmount                                  0
BiddingStartedOn                               0
BidsApi                                        0
BidsManual                                     0
BidsPortfolioManager                           0
City                                        9794
ContractEndDate                            75546
Country                                        0
County                                     36840
CreditScoreEeMini                          62807
CreditScoreEsEquifaxRisk                  122310
CreditScoreEsMicroL                        29574
CreditScoreFiAsiakasTietoRiskGrade        102011
CurrentDebtDaysPrimary                     86011
CurrentDebtDaysSecondary                   82279
DateOfBirth                                    0
DebtOccuredOn                              86011
DebtOccuredOnForSecondary                  82279
DebtToIncome                                  45
DefaultDate                                91614
EAD1                                       91614
EAD2                                       91614
EL_V0                                     129960
EL_V1                                     121607
Education                                     45
EmploymentDurationCurrentEmployer            876
EmploymentPosition                         98439
EmploymentStatus                             197
ExistingLiabilities                            0
ExpectedLoss                                2636
ExpectedReturn                              2636
FirstPaymentDate                               0
FreeCash                                      45
Gender                                        45
GracePeriodEnd                            115741
GracePeriodStart                          115741
HomeOwnershipType                           1652
IncomeFromChildSupport                         0
IncomeFromFamilyAllowance                      0
IncomeFromLeavePay                             0
IncomeFromPension                              0
IncomeFromPrincipalEmployer                    0
IncomeFromSocialWelfare                        0
IncomeOther                                    0
IncomeTotal                                    0
Interest                                       0
InterestAndPenaltyBalance                      0
InterestAndPenaltyDebtServicingCost        75400
InterestAndPenaltyPaymentsMade                 0
InterestAndPenaltyWriteOffs                75400
InterestRecovery                           91614
LanguageCode                                   0
LastPaymentOn                               9531
LiabilitiesTotal                               0
ListedOnUTC                                    0
LoanApplicationStartedDate                     0
LoanDate                                       0
LoanDuration                                   0
LoanId                                         0
LoanNumber                                     0
LossGivenDefault                            2636
MaritalStatus                                 45
MaturityDate_Last                              0
MaturityDate_Original                          0
ModelVersion                                2636
MonthlyPayment                              6685
MonthlyPaymentDay                              0
NewCreditCustomer                              0
NextPaymentDate                            68885
NextPaymentNr                              36741
NoOfPreviousLoansBeforeLoan                    0
NrOfDependants                             98929
NrOfScheduledPayments                      36741
OccupationArea                                86
PlannedInterestPostDefault                 91614
PlannedInterestTillDate                     3942
PlannedPrincipalPostDefault                91614
PlannedPrincipalTillDate                   80070
PreviousEarlyRepaymentsBefoleLoan          76503
PreviousEarlyRepaymentsCountBeforeLoan         0
PreviousRepaymentsBeforeLoan               43161
PrincipalBalance                               0
PrincipalDebtServicingCost                 75400
PrincipalOverdueBySchedule                 14837
PrincipalPaymentsMade                          0
PrincipalRecovery                          91614
PrincipalWriteOffs                         75400
ProbabilityOfDefault                        2636
Rating                                      2730
Rating_V0                                 129960
Rating_V1                                 121607
Rating_V2                                 109386
ReScheduledOn                              94207
RecoveryStage                              57288
RefinanceLiabilities                           0
ReportAsOfEOD                                  0
Restructured                                   0
StageActiveSince                           53575
Status                                         0
UseOfLoan                                      0
UserName                                       0
VerificationType                              45
WorkExperience                             98007
WorseLateCategory                          45456
dtype: int64

In [ ]:
# show data null percentages
print((data.isnull().sum()/data.shape[0])*100)

In [ ]:
# show data null counts with percentage more than 50%
count=0 
for column in data:
    nulls_percentage = (data[column].isnull().sum()/data.shape[0])*100
    if(nulls_percentage > 40 ):
        print(data[column].dtype,' ', nulls_percentage,'%',' ' ,column)
        count=count +1
print(count)

# Data PreProcessing

## - Drop some features

In [6]:
# drop feature column which has null counts with percentage more than 50%
dropped_nulls_features=[]
for column in data:
    nulls_percentage = (data[column].isnull().sum()/data.shape[0])*100
    if(nulls_percentage > 40):
        dropped_nulls_features.append(column) 
        
new_data = data.drop(dropped_nulls_features, axis=1)

In [7]:
# drop feature that are unique for each row 
dropped_unique_features=['LoanId','LoanNumber']
new_data = new_data.drop(dropped_unique_features, axis=1)

In [8]:
# drop feature that has only one value 
new_data = new_data.drop('ReportAsOfEOD', axis=1)

In [9]:
# drop features that won't affect related to borrower
dropped_non_needed_features=['City','County','DateOfBirth','UserName']
new_data = new_data.drop(dropped_non_needed_features, axis=1)

In [10]:
# drop separated income features as we have a feature for total income
dropped_separated_income_features=['IncomeFromChildSupport','IncomeFromFamilyAllowance','IncomeFromLeavePay','IncomeFromPension','IncomeFromPrincipalEmployer','IncomeFromSocialWelfare','IncomeOther']
new_data = new_data.drop(dropped_separated_income_features, axis=1)

In [11]:
# drop features with date values
dropped_date_features=['BiddingStartedOn','FirstPaymentDate','LastPaymentOn','ListedOnUTC','LoanApplicationStartedDate','LoanDate','MaturityDate_Last','MaturityDate_Original','StageActiveSince']
new_data = new_data.drop(dropped_date_features, axis=1)

In [12]:
# drop features that won't affect
dropped_non_needed_features=['ApplicationSignedHour','ApplicationSignedWeekday','MonthlyPaymentDay','ModelVersion']
new_data = new_data.drop(dropped_non_needed_features, axis=1)

In [13]:
print(new_data.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Data columns (total 52 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ActiveScheduleFirstPaymentReached       134529 non-null  bool
 1   Age                                     134529 non-null  int64
 2   Amount                                  134529 non-null  float64
 3   AmountOfPreviousLoansBeforeLoan         134529 non-null  float64
 4   AppliedAmount                           134529 non-null  float64
 5   BidsApi                                 134529 non-null  int64
 6   BidsManual                              134529 non-null  float64
 7   BidsPortfolioManager                    134529 non-null  int64
 8   Country                                 134529 non-null  object
 9   CreditScoreEeMini                       71722 non-null   float64
 10  CreditScoreEsMicroL                     104955 non-null  object
 11  DebtToIncome                            134484 non-null  float64
 12  Education                               134484 non-null  float64
 13  EmploymentDurationCurrentEmployer       133653 non-null  object
 14  EmploymentStatus                        134332 non-null  float64
 15  ExistingLiabilities                     134529 non-null  int64
 16  ExpectedLoss                            131893 non-null  float64
 17  ExpectedReturn                          131893 non-null  float64
 18  FreeCash                                134484 non-null  float64
 19  Gender                                  134484 non-null  float64
 20  HomeOwnershipType                       132877 non-null  float64
 21  IncomeTotal                             134529 non-null  float64
 22  Interest                                134529 non-null  float64
 23  InterestAndPenaltyBalance               134529 non-null  float64
 24  InterestAndPenaltyPaymentsMade          134529 non-null  float64
 25  LanguageCode                            134529 non-null  int64
 26  LiabilitiesTotal                        134529 non-null  float64
 27  LoanDuration                            134529 non-null  int64
 28  LossGivenDefault                        131893 non-null  float64
 29  MaritalStatus                           134484 non-null  float64
 30  ModelVersion                            131893 non-null  float64
 31  MonthlyPayment                          127844 non-null  float64
 32  NewCreditCustomer                       134529 non-null  bool
 33  NextPaymentNr                           97788 non-null   float64
 34  NoOfPreviousLoansBeforeLoan             134529 non-null  int64
 35  NrOfScheduledPayments                   97788 non-null   float64
 36  OccupationArea                          134443 non-null  float64
 37  PlannedInterestTillDate                 130587 non-null  float64
 38  PreviousEarlyRepaymentsCountBeforeLoan  134529 non-null  int64
 39  PreviousRepaymentsBeforeLoan            91368 non-null   float64
 40  PrincipalBalance                        134529 non-null  float64
 41  PrincipalOverdueBySchedule              119692 non-null  float64
 42  PrincipalPaymentsMade                   134529 non-null  float64
 43  ProbabilityOfDefault                    131893 non-null  float64
 44  Rating                                  131799 non-null  object
 45  RecoveryStage                           77241 non-null   float64
 46  RefinanceLiabilities                    134529 non-null  int64
 47  Restructured                            134529 non-null  bool
 48  Status                                  134529 non-null  object
 49  UseOfLoan                               134529 non-null  int64
 50  VerificationType                        134484 non-null  float64
 51  WorseLateCategory                       89073 non-null   object
dtypes: bool(3), float64(33), int64(10), object(6)
memory usage: 50.7+ MB
None

## - Numerical to Categorical

In [14]:
# Education
# 1 Primary education 2 Basic education 3 Vocational education 4 Secondary education 5 Higher education

new_data['Education'] = new_data['Education'].astype(str)
print(new_data['Education'].unique())

mapping = {'-1.0':'Unknown','0.0':'Unknown','1.0':'Primary education','2.0':'Basic education','3.0':'Vocational education','4.0':'Secondary education','5.0':'Higher education','nan':np.nan}
new_data['Education'] = new_data['Education'].replace(mapping)
print(new_data['Education'].unique())

new_data['Education'].fillna('Unknown',inplace=True)
print(new_data['Education'].unique())

['3.0' '5.0' '4.0' '2.0' '1.0' '0.0' 'nan' '-1.0']
['Vocational education' 'Higher education' 'Secondary education'
 'Basic education' 'Primary education' 'Unknown' nan]
['Vocational education' 'Higher education' 'Secondary education'
 'Basic education' 'Primary education' 'Unknown']

In [15]:
# EmploymentStatus
# 1 Unemployed 2 Partially employed 3 Fully employed 4 Self-employed 5 Entrepreneur 6 Retiree

new_data['EmploymentStatus'] = new_data['EmploymentStatus'].astype(str)
print(new_data['EmploymentStatus'].unique())

mapping = {'-1.0':'Unknown','0.0':'Unknown','1.0':'Unemployed','2.0':'Partially employed','3.0':'Fully employed','4.0':'Self-employed','5.0':'Entrepreneur','6.0':'Retiree','nan':np.nan}
new_data['EmploymentStatus'] = new_data['EmploymentStatus'].replace(mapping)
print(new_data['EmploymentStatus'].unique())

new_data['EmploymentStatus'].fillna('Unknown',inplace=True)
print(new_data['EmploymentStatus'].unique())

['3.0' 'nan' '2.0' '4.0' '5.0' '6.0' '0.0' '-1.0']
['Fully employed' nan 'Partially employed' 'Self-employed' 'Entrepreneur'
 'Retiree' 'Unknown']
['Fully employed' 'Unknown' 'Partially employed' 'Self-employed'
 'Entrepreneur' 'Retiree']

In [19]:
# Gender
# 0 Male 1 Woman 2 Undefined
new_data['Gender'] = new_data['Gender'].astype(str)
print(new_data['Gender'].unique())

mapping = {'0.0':'Male','1.0':'Woman','2.0':'Undefined','nan':np.nan}
new_data['Gender'] = new_data['Gender'].replace(mapping)
print(new_data['Gender'].unique())

new_data['Gender'].fillna('Undefined',inplace=True)
print(new_data['Gender'].unique())

['Woman' 'Male' 'Undefined' 'Gender']
['Woman' 'Male' 'Undefined' 'Gender']
['Woman' 'Male' 'Undefined' 'Gender']

In [23]:
# HomeOwnershipType
# 0 Homeless 1 Owner 2 Living with parents 3 Tenant, pre-furnished property 4 Tenant, unfurnished property 
# 5 Council house 6 Joint tenant 7 Joint ownership 8 Mortgage 9 Owner with encumbrance 10 Other

new_data['HomeOwnershipType'] = new_data['HomeOwnershipType'].astype(str)
print(new_data['HomeOwnershipType'].unique())

mapping = {'-1.0':'Unknown','0.0': 'Homeless', '1.0': 'Owner', '2.0': 'Living with parents', '3.0': 'Tenant, pre-furnished property',
           '4.0': 'Tenant, unfurnished property', '5.0': 'Council house', '6.0': 'Joint tenant', '7.0': 'Joint ownership', 
           '8.0': 'Mortgage', '9.0': 'Owner with encumbrance', '10.0': 'Other','nan':np.nan}
new_data['HomeOwnershipType'] = new_data['HomeOwnershipType'].replace(mapping)
print(new_data['HomeOwnershipType'].unique())

new_data['HomeOwnershipType'].fillna('Unknown',inplace=True)
print(new_data['HomeOwnershipType'].unique())

['Other' 'Homeless' 'Tenant, unfurnished property' 'Living with parents'
 'Owner' 'Tenant, pre-furnished property' 'Council house' 'Mortgage'
 'Joint tenant' 'Joint ownership' 'Owner with encumbrance']
['Other' 'Homeless' 'Tenant, unfurnished property' 'Living with parents'
 'Owner' 'Tenant, pre-furnished property' 'Council house' 'Mortgage'
 'Joint tenant' 'Joint ownership' 'Owner with encumbrance']
['Other' 'Homeless' 'Tenant, unfurnished property' 'Living with parents'
 'Owner' 'Tenant, pre-furnished property' 'Council house' 'Mortgage'
 'Joint tenant' 'Joint ownership' 'Owner with encumbrance']

In [26]:
# LanguageCode
# 1 Estonian 2 English 3 Russian 4 Finnish 5 German 6 Spanish 9 Slovakian

new_data['LanguageCode'] = new_data['LanguageCode'].astype(str)
print(new_data['LanguageCode'].unique())

mapping = {'1': 'Estonian', '2': 'English', '3': 'Russian','4': 'Finnish', '5': 'German', '6': 'Spanish', '9': 'Slovakian', 
           '7': 'Other', '22': 'Other', '15': 'Other', '10': 'Other', '13': 'Other', '21': 'Other'}
new_data['LanguageCode'] = new_data['LanguageCode'].replace(mapping)
print(new_data['LanguageCode'].unique())

['1' '3' '2' '4' '6' '22' '15' '9' '5' '10' '13' '7' '21']
['Estonian' 'Russian' 'English' 'Finnish' 'Spanish' 'Other' 'Slovakian'
 'German']

In [30]:
# MaritalStatus
# 1 Married 2 Cohabitant 3 Single 4 Divorced 5 Widow

new_data['MaritalStatus'] = new_data['MaritalStatus'].astype(str)
print(new_data['MaritalStatus'].unique())

mapping = {'-1.0':'Unknown','0.0': 'Unknown', '1.0': 'Married', '2.0': 'Cohabitant', '3.0': 'Single',
           '4.0': 'Divorced', '5.0': 'Widow','nan':np.nan}
new_data['MaritalStatus'] = new_data['MaritalStatus'].replace(mapping)
print(new_data['MaritalStatus'].unique())

new_data['MaritalStatus'].fillna('Unknown',inplace=True)
print(new_data['MaritalStatus'].unique())

['Married' 'Divorced' 'Single' 'Cohabitant' 'Widow' 'Unknown' 'nan']
['Married' 'Divorced' 'Single' 'Cohabitant' 'Widow' 'Unknown' nan]
['Married' 'Divorced' 'Single' 'Cohabitant' 'Widow' 'Unknown']

In [33]:
# OccupationArea
# 1 Other 2 Mining 3 Processing 4 Energy 5 Utilities 6 Construction 7 Retail and wholesale
# 8 Transport and warehousing 9 Hospitality and catering 10 Info and telecom 11 Finance and insurance 
# 12 Real-estate 13 Research 14 Administrative 15 Civil service & military 16 Education 17 Healthcare and social help 
# 18 Art and entertainment 19 Agriculture, forestry and fishing

new_data['OccupationArea'] = new_data['OccupationArea'].astype(str)
print(new_data['OccupationArea'].unique())

mapping = {'-1.0':'Unknown','0.0': 'Unknown', '1.0': 'Other', '2.0': 'Mining', '3.0': 'Processing', '4.0': 'Energy', '5.0': 'Utilities', 
           '6.0': 'Construction', '7.0': 'Retail and wholesale', '8.0': 'Transport and warehousing', 
           '9.0': 'Hospitality and catering', '10.0': 'Info and telecom', '11.0': 'Finance and insurance', 
           '12.0': 'Real-estate', '13.0': 'Research', '14.0': 'Administrative', '15.0': 'Civil service & military', 
           '16.0': 'Education', '17.0': 'Healthcare and social help', '18.0': 'Art and entertainment', 
           '19.0': 'Agriculture, forestry and fishing','nan':np.nan}
new_data['OccupationArea'] = new_data['OccupationArea'].replace(mapping)
print(new_data['OccupationArea'].unique())

new_data['OccupationArea'].fillna('Unknown',inplace=True)
print(new_data['OccupationArea'].unique())

['Retail and wholesale' 'Education' 'Hospitality and catering' 'Other'
 'Info and telecom' 'Real-estate' 'Transport and warehousing'
 'Construction' 'Finance and insurance' 'Healthcare and social help'
 'Utilities' 'Energy' 'Processing' 'Agriculture, forestry and fishing'
 'nan' 'Unknown' 'Art and entertainment' 'Civil service & military'
 'Research' 'Administrative' 'Mining']
['Retail and wholesale' 'Education' 'Hospitality and catering' 'Other'
 'Info and telecom' 'Real-estate' 'Transport and warehousing'
 'Construction' 'Finance and insurance' 'Healthcare and social help'
 'Utilities' 'Energy' 'Processing' 'Agriculture, forestry and fishing' nan
 'Unknown' 'Art and entertainment' 'Civil service & military' 'Research'
 'Administrative' 'Mining']
['Retail and wholesale' 'Education' 'Hospitality and catering' 'Other'
 'Info and telecom' 'Real-estate' 'Transport and warehousing'
 'Construction' 'Finance and insurance' 'Healthcare and social help'
 'Utilities' 'Energy' 'Processing' 'Agriculture, forestry and fishing'
 'Unknown' 'Art and entertainment' 'Civil service & military' 'Research'
 'Administrative' 'Mining']

In [37]:
# VerificationType
# 0 Not set 1 Income unverified 2 Income unverified, cross-referenced by phone 3 Income verified 4 Income and expenses verified

new_data['VerificationType'] = new_data['VerificationType'].astype(str)
print(new_data['VerificationType'].unique())

mapping = {'0.0': 'Not set', '1.0': 'Income unverified', '2.0': 'Income unverified, cross-referenced by phone', '3.0': 'Income verified', '4.0': 'Income and expenses verified','nan':np.nan}
new_data['VerificationType'] = new_data['VerificationType'].replace(mapping)
print(new_data['VerificationType'].unique())

new_data['VerificationType'].fillna('Not set',inplace=True)
print(new_data['VerificationType'].unique())

['2.0' '4.0' '1.0' '3.0' '0.0' 'nan']
['Income unverified, cross-referenced by phone'
 'Income and expenses verified' 'Income unverified' 'Income verified'
 'Not set' nan]
['Income unverified, cross-referenced by phone'
 'Income and expenses verified' 'Income unverified' 'Income verified'
 'Not set']

In [39]:
# UseOfLoan
# 0 Loan consolidation 1 Real estate 2 Home improvement 3 Business 4 Education 5 Travel 6 Vehicle 7 Other 
# 8 Health 101 Working capital financing 102 Purchase of machinery equipment 103 Renovation of real estate
# 104 Accounts receivable financing 105 Acquisition of means of transport 106 Construction finance 107 Acquisition of stocks 
# 108 Acquisition of real estate 109 Guaranteeing obligation 110 Other business

new_data['UseOfLoan'] = new_data['UseOfLoan'].astype(str)
print(new_data['UseOfLoan'].unique())

mapping = {'-1':'Unknown','0': 'Loan consolidation', '1': 'Real estate', '2': 'Home improvement', '3': 'Business', 
           '4': 'Education', '5': 'Travel', '6': 'Vehicle', '7': 'Other', '8': 'Health', 
           '101': 'Working capital financing', '102': 'Purchase of machinery equipment', 
           '103': 'Renovation of real estate', '104': 'Accounts receivable financing', 
           '105': 'Acquisition of means of transport', '106': 'Construction finance', 
           '107': 'Acquisition of stocks', '108': 'Acquisition of real estate', 
           '109': 'Guaranteeing obligation', '110': 'Other business'}
new_data['UseOfLoan'] = new_data['UseOfLoan'].replace(mapping)
print(new_data['UseOfLoan'].unique())

['7' '2' '0' '6' '8' '3' '5' '4' '1' '110' '101' '102' '104' '108' '106'
 '107' '-1']
['Other' 'Home improvement' 'Loan consolidation' 'Vehicle' 'Health'
 'Business' 'Travel' 'Education' 'Real estate' 'Other business'
 'Working capital financing' 'Purchase of machinery equipment'
 'Accounts receivable financing' 'Acquisition of real estate'
 'Construction finance' 'Acquisition of stocks' 'Unknown']

In [40]:
print(new_data.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Data columns (total 52 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ActiveScheduleFirstPaymentReached       134529 non-null  bool
 1   Age                                     134529 non-null  int64
 2   Amount                                  134529 non-null  float64
 3   AmountOfPreviousLoansBeforeLoan         134529 non-null  float64
 4   AppliedAmount                           134529 non-null  float64
 5   BidsApi                                 134529 non-null  int64
 6   BidsManual                              134529 non-null  float64
 7   BidsPortfolioManager                    134529 non-null  int64
 8   Country                                 134529 non-null  object
 9   CreditScoreEeMini                       71722 non-null   float64
 10  CreditScoreEsMicroL                     104955 non-null  object
 11  DebtToIncome                            134484 non-null  float64
 12  Education                               134529 non-null  object
 13  EmploymentDurationCurrentEmployer       133653 non-null  object
 14  EmploymentStatus                        134529 non-null  object
 15  ExistingLiabilities                     134529 non-null  int64
 16  ExpectedLoss                            131893 non-null  float64
 17  ExpectedReturn                          131893 non-null  float64
 18  FreeCash                                134484 non-null  float64
 19  Gender                                  134529 non-null  object
 20  HomeOwnershipType                       134529 non-null  object
 21  IncomeTotal                             134529 non-null  float64
 22  Interest                                134529 non-null  float64
 23  InterestAndPenaltyBalance               134529 non-null  float64
 24  InterestAndPenaltyPaymentsMade          134529 non-null  float64
 25  LanguageCode                            134529 non-null  object
 26  LiabilitiesTotal                        134529 non-null  float64
 27  LoanDuration                            134529 non-null  int64
 28  LossGivenDefault                        131893 non-null  float64
 29  MaritalStatus                           134529 non-null  object
 30  ModelVersion                            131893 non-null  float64
 31  MonthlyPayment                          127844 non-null  float64
 32  NewCreditCustomer                       134529 non-null  bool
 33  NextPaymentNr                           97788 non-null   float64
 34  NoOfPreviousLoansBeforeLoan             134529 non-null  int64
 35  NrOfScheduledPayments                   97788 non-null   float64
 36  OccupationArea                          134529 non-null  object
 37  PlannedInterestTillDate                 130587 non-null  float64
 38  PreviousEarlyRepaymentsCountBeforeLoan  134529 non-null  int64
 39  PreviousRepaymentsBeforeLoan            91368 non-null   float64
 40  PrincipalBalance                        134529 non-null  float64
 41  PrincipalOverdueBySchedule              119692 non-null  float64
 42  PrincipalPaymentsMade                   134529 non-null  float64
 43  ProbabilityOfDefault                    131893 non-null  float64
 44  Rating                                  131799 non-null  object
 45  RecoveryStage                           134529 non-null  object
 46  RefinanceLiabilities                    134529 non-null  int64
 47  Restructured                            134529 non-null  bool
 48  Status                                  134529 non-null  object
 49  UseOfLoan                               134529 non-null  object
 50  VerificationType                        134529 non-null  object
 51  WorseLateCategory                       89073 non-null   object
dtypes: bool(3), float64(25), int64(8), object(16)
memory usage: 50.7+ MB
None

In [41]:
# get numerical features
numerical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'float64' or new_data[column].dtype == 'int64'):
        numerical_columns.append(column)

# get categorical features
categorical_columns = []
for column in new_data:
    if(new_data[column].dtype == 'object'):
        categorical_columns.append(column)  
        
# get boolean features
boolean_columns = []
for column in new_data:
    if(new_data[column].dtype == 'bool'):
        boolean_columns.append(column)

## - Handle missing values

In [ ]:
for column in boolean_columns:
    if(new_data[column].isnull().sum()):
        print(column) 
    else:
        print ('no nulls')

In [ ]:
# handle missing values in categorical features with numerical values by replacing with mode 
categorical_with_numbers_features= ['CreditScoreEeMini','Education','EmploymentStatus','Gender','HomeOwnershipType','MaritalStatus','ModelVersion','OccupationArea',
                                    'RecoveryStage','UseOfLoan','VerificationType']

for col in categorical_with_numbers_features:
    mode_value = new_data[col].mode().values[0]
    new_data[col].fillna(mode_value,inplace=True)
    
for column in categorical_with_numbers_features:
    unique_count = new_data[column].nunique()
    if(unique_count <= 40):
        print(unique_count, ' ', column)
        print(new_data[column].unique())

In [ ]:
# handle missing values for numerical features by replacing with mean 
for num_column in numerical_columns:
    mean_value = new_data[num_column].mean()
    new_data[num_column].fillna(mean_value,inplace=True)
    
# handle missing values for categorical features by replacing with mode 
for cat_column in categorical_columns:
    mode_value = new_data[cat_column].mode().values[0]
    new_data[cat_column].fillna(mode_value,inplace=True)

for column in new_data:
    unique_count = new_data[column].nunique()
    if(unique_count <= 40):
        print(unique_count, ' ', column)
        print(new_data[column].unique())

In [ ]:
print(new_data.isnull().sum())

## - Encoding Categorical Variables

In [ ]:
# boolean to int
for bool_column in boolean_columns:
    new_data[bool_column] = new_data[bool_column].astype(int)

In [ ]:
# convert features with values that contain date + time to contain only date
date_time_features = ['BiddingStartedOn','LoanApplicationStartedDate','ListedOnUTC','StageActiveSince']
for col in date_time_features:
    new_data[col] = new_data[col].str.split().str[0]
    
print(new_data[date_time_features].nunique())

In [ ]:
mapping = {'1-7': 1, '8-15': 2, '16-30': 3, '31-60': 4, '61-90': 5, '91-120': 6, '121-150': 7, '151-180': 8, '180+': 9}

features = ['ActiveLateCategory','ActiveLateLastPaymentCategory','WorseLateCategory']
new_data[features] = new_data[features].replace(mapping)

for col in features:
    print(new_data[col].unique())

In [ ]:
mapping = { 'LessThan2Years':1,'2To5Years':2,'5To10Years':3,'10To15Years':4,'15To25Years':5,'MoreThan25Years':6}

new_data['WorkExperience'] = new_data['WorkExperience'].replace(mapping)

print(new_data['WorkExperience'].unique())

In [ ]:
new_data['CreditScoreEsMicroL'] = new_data['CreditScoreEsMicroL'].str[1:].astype(int)

print(new_data['CreditScoreEsMicroL'].unique())

In [ ]:
mapping = {'TrialPeriod':0,'UpTo1Year':1,'UpTo2Years':2,'UpTo3Years':3,'UpTo4Years':4,'UpTo5Years':5,'MoreThan5Years':6,'Retiree':7,'Other':8}

new_data['EmploymentDurationCurrentEmployer'] = new_data['EmploymentDurationCurrentEmployer'].replace(mapping)

print(new_data['EmploymentDurationCurrentEmployer'].unique())

In [ ]:
new_data['NrOfDependants'] = new_data['NrOfDependants'].str[:2].astype(int)

print(new_data['NrOfDependants'].unique())

In [ ]:
mapping = {'AA':1,'A':2,'B':3,'C':4,'D':5,'E':6,'F':7,'HR':8  }

new_data['Rating'] = new_data['Rating'].replace(mapping)

print(new_data['Rating'].unique())

In [ ]:
mapping = {'EE':1,'FI':2,'ES':3,'SK':4}

new_data['Country'] = new_data['Country'].replace(mapping)

print(new_data['Country'].unique())

## - Handle outliers

In [ ]:
def outliers_handling(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    lower_range = Q1 - 1.5 * (Q3 - Q1)
    upper_range = Q3 + 1.5 * (Q3 - Q1)
    column = np.where(column > upper_range, upper_range, column)
    column = np.where(column < lower_range, lower_range, column)
    return column

for num_column in numerical_columns:
    new_data[num_column] = outliers_handling(new_data[num_column])

In [ ]:
for num_column in numerical_columns:
    new_data[num_column].fillna(new_data[num_column].mean(),inplace=True)
    print(num_column,' ' , new_data[num_column].isnull().sum())
    
for cat_column in categorical_columns:
#     print(cat_column,' ' , new_data[cat_column].isnull().sum())
    new_data[cat_column].fillna(new_data[cat_column].mode().values[0],inplace=True)
    print(cat_column,' ' , new_data[cat_column].isnull().sum())